body {
  color: #40514E;
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.navbar{
  background-color: #4CACBC;
}

.selfintro{
  width: 50%;
  margin:auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:562.5%;
  color:#F6E3C5;
  line-height: 200%;

}

.portfolioHeading{
  color:black;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#F6E3C5;
  font-weight:normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#6CC4A1;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


p{
  line-height: 2;
}

hr{
  border: dotted Grey 5px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}



.top_container {
  background-color: #4CACBC;
  padding-top: 50px;
  position: relative;
}


.Top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.mountain{
  width:40%;
}

.Bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.middle-container{
  padding:100px 0 100px 0;
}

.myself{
  width:25%;
}

.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align:left;

}

.marketing-image{
  width:25%;
  float: left;
  margin-right: 40px;
}

.swim-image{
  width:25%;
  float: right;
  margin-right: 40px;
}


.contact-message{
  width:40%;
  margin:40px auto 60px;

}


.btn {
  background: #45a898;
  background-image: -webkit-linear-gradient(top, #45a898, #5292ba);
  background-image: -moz-linear-gradient(top, #45a898, #5292ba);
  background-image: -ms-linear-gradient(top, #45a898, #5292ba);
  background-image: -o-linear-gradient(top, #45a898, #5292ba);
  background-image: linear-gradient(to bottom, #45a898, #5292ba);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #5dbaf0 2px;
  text-decoration: none;
}

.btn:hover {
  background: #73ebcd;
  background-image: -webkit-linear-gradient(top, #73ebcd, #5fbfaa);
  background-image: -moz-linear-gradient(top, #73ebcd, #5fbfaa);
  background-image: -ms-linear-gradient(top, #73ebcd, #5fbfaa);
  background-image: -o-linear-gradient(top, #73ebcd, #5fbfaa);
  background-image: linear-gradient(to bottom, #73ebcd, #5fbfaa);
  text-decoration: none;
}


.bottom-container{
  margin-top:50px;
  background-color:  #66BFBF;
  margin-bottom: 0;
  padding:50px 0 20px;
}

.footer-link{
  color: #11999E;
}

.copyright{
  color:#EAF6F6;
  font-size:0.75rem;
  padding:20px 0;
}



.titanic{
    width:50%;
    align-self: center;
}

.container{
    position: relative;
}
.center {
  left:50%;
}

.working{
  text-align: left;
  margin-left: 70px;
  padding-right: 30px;
}

.skill{
  width:100%;
height:100%;
}
.table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
